{{> head}}


{{> navbar}}
<div class="row">
  <div class="col-8">
    <h1>Logo de NodeJS</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nobis debitis ut, est placeat vel tenetur
      accusantium voluptates vitae at numquam in aliquid possimus neque saepe sint veniam similique temporibus?</p>
  </div>
  <div class="col-4">
    <img src="/assets/img/nodejs.png" class="img-thumbnail">
  </div>

</div>
{{> footer}}